.jumbotron{
    border: 2px solid black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.jumbotron h4{
    margin-bottom:2vw;
}
.jumbotron .btn, Link{
    width:7vw;
}